{% extends 'base.html' %}
{% block titulo_pagina %}Formulario de Producto{% endblock %}
{% block contenido %}
<div class="container p-3">
    <h1>{% if producto %}Editar Producto{% else %}Crear Producto{% endif %}</h1>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="nombreProducto" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombreProducto" name="nombreProducto" value="{% if producto %}{{ producto.nombre }}{% endif %}">
        </div>
        <div class="mb-3">
            <label for="descripcionProducto" class="form-label">Descripcion</label>
            <input type="text" class="form-control" id="descripcionProducto" name="descripcionProducto" value="{% if producto %}{{ producto.descripcion }}{% endif %}">
        </div>
        {% if producto %}
        <input type="hidden" name="id" value="{{ producto.id }}">
        {% endif %}
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-success" id="btnCrearProducto">{% if producto %}Actualizar Producto{% else %}Crear Producto{% endif %}</button>
        </div>
    </form>
</div>
{% load static %}
<script src="{% static 'formulario_producto.js' %}"></script>
{% endblock %}
